.button {
    border-radius: 0;
 }
.card-content.signup {
    background-color: #f9f6f6;
    border: none;
    height: 500px;
    padding: 20px;
}

.card-footer-item.register {
    background-color: #284863;
    color: white;
}
.input{
    border-width:1px;
    border-radius:15px;
}

.label {
    font-weight: lighter;
}